
@{
    ViewData["Title"] = "BlogDetail";
    Layout = "~/Views/UILayout/Index.cshtml";
}

    <section class="ftco-section ftco-degree-bg">
      <div class="container">
        <div class="row">

            @await Component.InvokeAsync("_BlogDetailsMainComponentPartial", new { Id = ViewBag.Id })

          <div class="col-md-4 sidebar ftco-animate">

                @await Component.InvokeAsync("_BlogDetailsSideBarSearchBoxComponentPartial")

                @await Component.InvokeAsync("_BlogDetailsCategoryComponentPartial")

                @await Component.InvokeAsync("_BlogDetailsRecentBlogsComponenetPartial")

                @await Component.InvokeAsync("_BlogDetailsTagCloudComponenetPartial", new { Id = ViewBag.Id })

               @await Component.InvokeAsync("_BlogDetailsParagraphComponenetPartial")
                

          </div>

        </div>
      </div>
    </section> <!-- .section -->


