@model List<ResultTestimonialDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";

}

<div class="page-content">
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">
                            Social Media Area
                        </h4>
                        <p class="card-subtitle mb-4">
                            Social Media area edit page.
                        </p>
                        <div class="table-responsive">
                            <table class="table mb-0">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Name</th>
                                        <th>Title</th>
                                        <th>Comment</th>
                                        <th>Remove</th>
                                        <th>Update</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td><img src="@item.ImageUrl" width="50" height="50" /></td>
                                            <td>@item.Name</td>
                                            <td>@item.Title</td>
                                            <td>@item.Comment</td>
                                            <td><a href="/Admin/AdminTestimonial/RemoveTestimonial/@item.Id" class="btn btn-outline-danger">Remove</a></td>
                                            <td><a href="/Admin/AdminTestimonial/UpdateTestimonial/@item.Id" class="btn btn-outline-success">Update</a></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            <td><a href="/Admin/AdminTestimonial/CreateTestimonial/" class="btn btn-outline-primary">Create Testimonial</a></td>
                        </div>

                    </div>
                    <!-- end card-body-->
                </div>
                <!-- end card -->

            </div>
            <!-- end col -->



        </div>
        <!-- end col -->
    </div>

    <!-- end page title -->

</div> <!-- container-fluid -->
