@model UpdateSocialMediaDto
@{
    ViewData["Title"] = "UpdateSocialMedia";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Create Social Media</h4>
                        <p class="card-subtitle mb-4">Please fill in the information about the vehicle completely.</p>
                        <form method="post">
                            <input type="hidden" asp-for="Id" />
                            <div class="form-group">
                                <label for="exampleInputName">Name</label>
                                <input type="text" class="form-control" id="exampleInputName" asp-for="Name" placeholder="Name">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputUrl">Url</label>
                                <input type="text" class="form-control" id="exampleInputUrl" asp-for="Url" placeholder="Url">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputIcon">Icon</label>
                                <input type="text" class="form-control" id="exampleInputIcon" asp-for="Icon" placeholder="Icon">
                            </div>

                            <button type="submit" class="btn btn-primary waves-effect waves-light">Update Social Media</button>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
