@model List<ResultFooterAddressDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="page-content">
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">
                            Footer Address Area
                        </h4>
                        <p class="card-subtitle mb-4">
                            Footer Address edit page.
                        </p>
                        <div class="table-responsive">
                            <table class="table mb-0">
                                <thead>
                                    <tr>
                                        <th>Description</th>
                                        <th>Address</th>
                                        <th>Phone</th>
                                        <th>Email</th>
                                        <th>Update</th>
                                        <th>Remove</th>
                                        <th>Update</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@item.Description</td>
                                            <td>@item.Address</td>
                                            <td>@item.Phone</td>
                                            <td>@item.Email</td>
                                            <td><a href="/Admin/AdminFooterAddress/RemoveFooterAddress/@item.Id" class="btn btn-outline-danger">Remove</a></td>
                                            <td><a href="/Admin/AdminFooterAddress/UpdateFooterAddress/@item.Id" class="btn btn-outline-success">Update</a></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            <td><a href="/Admin/AdminFooterAddress/CreateFooterAddress/" class="btn btn-outline-primary">Create Footer Address</a></td>
                        </div>

                    </div>
                    <!-- end card-body-->
                </div>
                <!-- end card -->

            </div>
            <!-- end col -->



        </div>
        <!-- end col -->
    </div>

    <!-- end page title -->

</div> <!-- container-fluid -->